<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/styles/notes.css">
  </head>

  <body>
  <div class="header">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <button id="sign-out">sign out</button>
    </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
      <textarea id="note-text" class="form-control" rows="3"></textarea>
      <button id="visibility-btn">private</button>
      <button id="create-note-btn">create</button>
      <span id="error-msg"></span>
    </div>
    </div>
  </div>

  <div class="content">
  <div class="container">
    <div class="row">
    <div class="col-lg-12">
      <button id="user-notes-btn">user notes</button>
      <button id="public-notes-btn">public notes</button>
    </div>
    </div>

    <div class="row">
    <div id="notes" class="col-lg-12">
    </div>
    </div>
  </div>
  </div>

  <script src="public/scripts/out/goog/base.js" type="text/javascript"></script>
  <script src="public/scripts/out/mx.js" type="text/javascript"></script>
  <script type="text/javascript">goog.require("mx.notes");</script>
  </body>
</html>
